<head>
    <link rel="stylesheet" href="style.css">
</head>
<br>
<div class="nav">
    
    <div id="logo"> 
        <a href="/" style="text-decoration:none" color="black">AsphaltDrop.beta</a>
    </div>

    <div id="log">
        <a id="logout" href="/logout">Log out</a>    
    </div>

</div>